# IntelliJ IDEA
/.idea/
/*.iml
/out/
/.idea/workspace.xml
/shelf/

# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/

# Spring Boot
/*.log

# Others
*.class
*.jar
*.war
*.ear

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp